<section id="about" class="grid content-center scroll-m-36 mx-auto h-fit">
  <div
    class="flex justify-between lg:w-[70%] h-fit items-center m-auto lg:flex-row xs:flex-col-reverse">
    <div class="h-full w-full">
      <img
        src="../../public/esta.svg"
        alt="Foto de mi avatar sentado con una laptop en las piernas"
        class="object-cover mx-auto rounded-gl h-auto"
        style="filter: drop-shadow(0 0 20px rgb(0 0 0, .5));
   ;"
      />
    </div>

    <div
      class="flex w-[40%] flex-col justify-center text-center gap-y-3 xs:w-[75%] lg:mx-0">
      <h2 class="font-black text-[40px] xs:text-center">
        Hola, Soy <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-purple-600 from-30% via-orange-500 via-70% to-orange-400 xl:inline xs:block"
          >Umpi. Dev</span
        >
      </h2>
      <p class="opacity-60 text-[17px] lg:text-pretty xs:text-center">
        <span>Ingeniero informático con +1 de experiencia.</span>
        <span>Mi hobbis es trabajar con html y css </span>
        <span>y la creacion de Sitios Web </span>
      </p>
    </div>
  </div>
</section>
