<section id="about" class="grid scroll-m-36 mx-auto h-fit">
  <div
    class="grid lg:grid-cols-2 gap-2 px-8 sm:max-w-4xl h-fit m-auto lg:flex-row xs:grid-cols-1">
    <div class="h-auto w-full">
      <img
        src="../../public/avatar0.svg"
        alt="Foto de mi avatar sentado con una laptop en las piernas"
        class="object-cover rounded-full mx-auto rounded-gl h-auto"
        style="filter: drop-shadow(0 0 20px rgb(0 0 0, .5));
   ;"
      />
    </div>

    <div class="w-full mx-auto h-fit lg:px-4 sm:px-16 xs:px-8">
      <h2 class="font-black text-[40px] xs:text-center">
        Hola, Soy <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-purple-600 from-30% via-orange-500 via-70% to-orange-400 xl:inline xs:block"
          >Reineldi</span
        >
      </h2>
      <p class="opacity-80 text-lg xs:text-center">
        <span>Ingeniero informático con +1 de experiencia.</span>
        <span>Mi hobbis es trabajar con html y css </span>
        <span>y la creacion de Sitios Web </span>
      </p>
    </div>
  </div>
</section>
