---

---

<header
  class="w-full top-0 backdrop-blur-md sticky flex justify-between items-center py-2 px-11 mx-auto z-50 md:justify-around xs:justify-center xs:mr-6">
  <a href="#home"
    ><img
      class="size-16 md:grid xs:hidden"
      src="../../public/logo1.svg"
      alt="Logo"
    /></a
  >

  <nav class="flex flex-row gap-x-10">
    <a
      class="text-white/80 hover:text-yellow-400 transition hover:scale-110"
      href="#home">Inicio</a
    >
    <a
      class="text-white/80 hover:text-yellow-400 transition hover:scale-110"
      href="#about"
      >Acerca
    </a>
    <a
      class="text-white/80 hover:text-yellow-400 transition hover:scale-110"
      href="#projects">Proyectos</a
    >
    <a
      class="text-white/80 hover:text-yellow-400 transition hover:scale-110"
      href="#contact">Contacto</a
    >
  </nav>
</header>
