---
import GitHubIcon from "../components/icons/GitHub.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import Social from "../components/Social.astro";
---

<section
  class="w-full flex flex-col justify-center mx-auto sm:max-w-[700px] py-32 px-8">
  <h1
    class="text-orange-400 text-center justify-center text-5xl font-bold flex flex-row gap-x-4 mb-4 text-[34px]">
    Reineldi Ump. Umpierre
  </h1>
  <h2 class="text-xl opacity-80 text-balance mb-4 text-center">
    <span class="text-yellow-400"
      >Ingeniero informático y Desarrollador Web.</span
    >
    Siempre disponible para aprender nuevos retos.
  </h2>

  <nav class="flex justify-center gap-x-2 py-3">
    <Social href="https://www.linkedin.com/in/neldis-umpierre-66b0742a1/">
      <LinkedInIcon class="size-6" />
      LinkedIn
      <Social href="https://github.com/Reyneldis">
        <GitHubIcon class="size-6" />
        GitHub
      </Social>
    </Social>
  </nav>
</section>
